/* body {
  background-color: lightskyblue;
} */
@import "compass/css3";

/*Be sure to look into browser prefixes for keyframes and annimations*/
.flash {
   animation-name: flash;
    animation-duration: 0.2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: running;
}

@keyframes flash {
    from {color: rgb(47, 141, 218);}
    to {color: black;}
}
body {
  width: 100%;
  margin: 0 auto;
  background-color: rgb(174, 167, 167);
  /* background:url(./Images/fahrul-azmi-cFUZ-6i83vs-unsplash.jpg); */
  background-repeat: no-repeat;
  background-size: 1400px 1000px;
  font-family: Arial, Helvetica, sans-serif;
}

input[type='radio']:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color:rgb(81, 127, 165);
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

input[type=text]{
  width: 100%;
  padding: 12px 20px;
  margin : 8px 0;
  box-sizing: border-box;
  background-color: rgb(132, 205, 223);

}
 form> input, .label {
   box-sizing: border-box;
   border:none;
 }

 .button{
   border: 1px solid;
 }

@media(min-width: 960px) {
  main {
    width: 800px;
    margin: 0 auto;
  }

  fieldset, form {
    width: 200px;
  }
}

h2{
  font-size: x-large;
}

li{
  margin: auto;
  width: 50%;
  padding: 10px;
  border: thick;
}

img{
  margin: auto;
  width: 30%;
  padding: 20px;
}

button{
  font-size: medium;
}
